<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0; margin-top: 5px;">
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>&nbsp;&nbsp;            
            <img src="/assets/img/logo.jpg" alt="Image">
        </div> 
        <ul class="nav navbar-top-links navbar-right">
            <li>
                <a (click)="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>