<div class="row">
    <div style="margin-top:2px;">
        <ul class="nav navbar-top-links navbar-right">
            <li><div>
                    <ul class="siteUtils site-width">
                        <li class="corporate-link "><span>
                            <a href="/myblk/employee-complaint-hotline" title="Employee Complaint Hotline"><span class="">Employee Complaint Hotline</span></a>
                        </span></li>
                        <li class="corporate-link "><span>
                            <a href="https://webster.bfm.com/viewserver/clientsite" title="Green Package" target="_blank"><span class="">Green Package</span></a>
                        </span></li>
                        <li class="corporate-link "><span>
                            <a href="https://webster.bfm.com/apps/Genie/Genie.jnlp" title="Genie"><span class="">Genie</span></a>
                        </span></li>
                        <li class="corporate-link "><span>
                            <a href="/myblk/my-resources/wifi-instructions" title="WiFi Instructions"><span class="">WiFi Instructions</span></a>
                        </span></li>
                        <li class="corporate-link "><span>
                            <a href="https://www.blackrock.com" title="BlackRock.com" target="_blank"><span class="">BlackRock.com</span></a>
                        </span></li>                            
                        <li class="corporate-link thumbnail-container" id="my-task-container">
                            <a href="/mytask/app/dashboard/self_view"><span class="fa fa-bell"></span><span id="my-tasks" ></span>
                        </a>
                        </li>                                    
                    </ul>
                </div>    
            </li>
        </ul>
    </div>
</div>
<div class="row border-bottom">
    <nav class="navbar navbar-static-top white-bg" role="navigation" style="margin-bottom: 0; margin-top: 0px;">
        <div class="navbar-header">
            <a class="minimalize-styl-2 btn btn-primary " (click)="toggleNavigation()"><i class="fa fa-bars"></i> </a>&nbsp;&nbsp;            
            <img src="/assets/img/logo.jpg" alt="Image">            
        </div>         
        <ul class="nav navbar-top-links navbar-right">              
            <li>
                <a (click)="logout()">
                    <i class="fa fa-sign-out"></i> Log out
                </a>
            </li>
        </ul>
    </nav>
</div>