<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="80px"
                             src="./assets/img/slala.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">{{loginInfo.first_name}} {{loginInfo.last_name}}</strong>
                      </span>
                          <span class="text-muted text-xs block">{{loginInfo.title}}</span>
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                        <img alt="image" class="img-circle" width="30px"
                        src="./assets/img/slala.jpg" />
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['./home']"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboards</span></a>
            </li>            
            <li [ngClass]="{active: activeRoute('others')}">
                    <a [routerLink]="['./others']"><i class="fa fa-cloud"></i> <span class="nav-label">My Resources</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('others')}">
                    <a [routerLink]="['./others']"><i class="fa fa-suitcase"></i> <span class="nav-label">Our Firm</span></a>
            </li>
            <li [ngClass]="{active: activeRoute('others')}">
                    <a [routerLink]="['./others']"><i class="fa fa-desktop"></i> <span class="nav-label">More News</span></a>
            </li>
            <li id="visiblex">
                    <a [routerLink]="['./others']"><i class="fa fa-umbrella" (click)="toggleDropdownx()"></i> <span class="nav-label">Community</span></a>
                    <ul id="hiddenx" class="nav metismenu">
                        <li><a [routerLink]="['./others']"><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">More News</span></a></li>
                        <li>name 2</li>
                        <li>name 3</li>
                        <li>name 4</li>                        
                    </ul>
            </li>

            <li>
                    <a [routerLink]="['./others']"><i class="fa "></i> <span >Slim Shady</span></a>                    
            </li>
            <li>
                    <div class="dropdownx fa">
                        <i class="fa fa-desktop"></i> <span class="nav-label">Mouse over me</span>
                        <div class="dropdown-contentx">
                            <p>Hello World!</p>
                        </div>
                    </div>
            </li>
        </ul>

    </div>
</nav>