<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span>
                        <img alt="image" class="img-circle" width="80px"
                             src="./assets/img/slala.jpg" />
                    </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                      <span class="clear">
                          <span class="block m-t-xs">
                          <strong class="font-bold">{{loginInfo.first_name}} {{loginInfo.last_name}}</strong>
                      </span>
                          <span class="text-muted text-xs block">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{loginInfo.title}}</span>
                      </span>
                    </a>
                </div>
                <div class="logo-element">
                        <img alt="image" class="img-circle" width="30px"
                        src="./assets/img/slala.jpg" />
                </div>
            </li>
            <li [ngClass]="{active: activeRoute('home')}">
                <a [routerLink]="['./home']"><i class="fa fa-dashboard"></i> <span class="nav-label">Dashboards</span></a>
            </li>            
            <li id="visiblew">
                    <a [routerLink]="['./others']"><i class="fa fa-cloud"></i> <span class="nav-label">My Resources</span></a>
                    <ul id="hiddenw" class="nav metismenu">
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Accounts Payable</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Advanced People Search</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Benefits</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">BlackRock Academies</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Careers</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Company Store</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Compensation</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Compliance Resources</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Emergency Resources</span></a></li>
                            <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Global Event Management</span></a></li>
                        </ul>
            </li>
            <li id="visiblez">
                    <a [routerLink]="['./others']"><i class="fa fa-suitcase"></i> <span class="nav-label">Our Firm</span></a>
                    <ul id="hiddenz" class="nav metismenu">
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif;  line-height: 150%; text-align:center">BlackRock Investment &nbsp;&nbsp;Institute</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Businesses Departments</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif; line-height: 150%; text-align:center">Firm Leadership &amp; &nbsp;&nbsp;Governance</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Firm Objectives</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Inclusion &amp; Diversity</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Knowing BlackRock</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Office Locations</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Social Impact</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Student of the Markets</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Student of Technology</span></a></li>
                    </ul>
            </li>
            <li id="visibley">
                    <a [routerLink]="['./abctest']"><i class="fa fa-desktop"></i> <span class="nav-label">More News</span></a>
                    <ul id="hiddeny" class="nav metismenu">
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">BlackRock TV</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif; line-height: 150%; text-align:center">Leadership &nbsp;Communications</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Firm Calendar</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">News Archive</span></a></li>
                    </ul>
            </li>
            <li id="visiblex">
                    <a><i class="fa fa-umbrella" (click)="toggleDropdownx()"></i> <span class="nav-label">Community</span></a>
                    <ul id="hiddenx" class="nav metismenu">
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Employee Networks</span></a></li>
                        <li><a><i class=""></i> <span class="nav-label" style="font-family: Arial, Helvetica, sans-serif">Professional Networks</span></a></li>                                       
                    </ul>
            </li>            
        </ul>

    </div>
</nav>